.cssstyle {
  background-color: purple;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cssstyle strong {
  font-size: 2rem;
}
p {
  margin-top: 5rem;
  text-align: center;
}
